# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#editor temp files
*~

#schnaps files
.DS_Store
doc/html/
doc/latex/


#output files
*.csv
*.log
*.msh
testfieldrk2_cl

#PN
*.swp
/build/



*.dat
*.pdf

