# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs):
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#editor temp files:
*~

#MacOS is a bad operating system:
.DS_Store

#schnaps files
doc/html/
doc/latex/

dgerror.msh
dgvisu*.msh
error.msh
geo/disque.msh
visu.msh

#output files
*.csv
*.log
*.msh
testfieldrk2_cl
Makefile
CMakeFiles/
Testing/
schnaps.cl
schnaps_temp.cl
schnaps

#PN
*.swp
/build/

wisdom3.txt

paralution-1.0.0-prefix

*.dat
*.pdf


#tests:
test2dmeshdettion
teshel
teslinfo
tesoil2d
testdoubletearing
testdtfield3dl
testdtfieldl
testfield
testfielddg
testfieldrk2-2d
testfieldrk2-2d-suell
testfieldrk2
testfieldrk2l
testfieldrk4
testfieldrk4l
testgeometry
testgyro
testinterpolation
testkelvinhelmotz
testkernel
testkernelflux
testkernelinterfe
testkernelvolume
testlandaollision_1d
testlandau_damping_1D
testlinearsolver
testmrellinterfe
testmromesh
testmanyv
testmaxwell2d
testmaxwell2dl
testmaxwell3d
testmeq2
testmeq2l
testmhd1d
testmhd
testmodel
testnonlinearsolver
testorszagtang
testperiod
testp_cumulate
testp
testpoisson2d
testpoisson
testronnexion
testshequilibrium2d
testshperiod2d
testsimulation
testskyline
testsuelldgvol
testtransport_steady
test_transportvp
testumfpk
testwave2d
testwave2d-steady
